<div class="section" id="education">
    <div class="container cc-education">
      <div class="education-text h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2020</p>
              <div class="h6">Bachelor of Engineering in Computer Science and Engineering</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
               <h4 class="category">Anna University (Kumaraguru College Of Technology)
               </h4>
               <ul>
                 <li><b>GPA : </b>8.3 GPA</li>
                 <li><b>Coursework includes : </b> Artificial Intelligence, Data Analytics, Object Oriented Programming, Applied Design Thinking.
                 <li>Mahatma Gandhi Merit Scholarship Recipient – KCT. (Awarded to the Top-15 students of the batch) </li>
                 <li>Mentor & Contributor - Coding Club - Department of Computer Science (KCT).</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2016</p>
              <div class="h6">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
               <h4 class="category">Vidhya Niketan MHSS
               </h4>
                <ul>
                  <li><b>GRADE : </b>94%</li>
                  <li><b>Coursework includes : </b> Computer Science, Maths, Physics, Chemistry.</li>
                  <li>Sports Club & Football Team Captain – Vidhya Niketan MHSS.</li>
                  <li>Coimbatore East Zone Runners in Football - 2015</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>